/* Whole document: */
body{
  font-family: Times New Roman;
  font-size: 12pt;
}
/* Header 1 */
h1{
  font-size: 12pt;
}
/* Header 2 */
h2{
  font-size: 12pt;
}
/* Header 3-6 */
h3,h4,h5,h6{
  font-size: 12pt;
}
mark{
 background-color:#ffff00;
}